/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --accent-color: #FF8DCB;
  --text-header-color: #FFC2E6;
  --text-accent-color: #353430;
  --text-main-color: #353430;
  --text-title-color: #353430;
  --bg-color: #FFF1F7;
  --bg-image: url("/images/cover-image-light.png");
}

.theme-light .decorated-zone__text {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #FF8DCB;
    --text-header-color: #FFC2E6;
    --text-accent-color: #353430;
    --text-main-color: #353430;
    --text-title-color: #353430;
    --button-hover-color: #FF8DCA66;
    --bg-color: #FFF1F7;
    --bg-image: url("/images/cover-image-light.png");
  }

  .decorated-zone__text {
    display: none;
  }
}